.signup
{
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
}

.header
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
}

.header > h2
{
    font-size: 32px;
    font-weight: 600;
}

.header > p
{
    font-weight: 400;
    font-size: 12px;
}

.body
{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    gap: .75rem;
}

.input
{
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.input > label
{
    font-size: 12px;
    font-weight: 400;
}

.input > #input
{
    border-radius: 18px;
    height: 20px;
    padding: 1rem;
    border-width: 0.5px;
    background-color: rgba(236, 235, 235, 1);
    border-color: rgba(191, 190, 188, 1);
}

.space
{
    display: flex;
    border-radius: 18px;
    height: 20px;
    /* padding: 1rem; */
    height: auto;
    border: 0.5px solid rgba(191, 190, 188, 1) ;
    background-color: rgba(236, 235, 235, 1);
    justify-content: space-between;
    padding: .1rem .5rem;
}

.space > input
{
    background-color: transparent;
    border: none;
    padding: 1rem;
    width: auto;
    outline: none;
}

.space > button
{
    background-color: transparent;
    border: none;
}

.error
{
    color: red;
    font-size: 11px;
    font-weight: 400;
}

.bottom
{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-align: center;
}

.bottom > .signup
{
    border-radius: 18px;
    /* height: 20px; */
    padding: 1.2rem 1rem;
    border: none;
    background-color: rgba(247, 148, 29, 1);
    border: 1px solid rgba(213, 117, 1, 1);
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.bottom > .signup:hover
{
    background-color: rgb(244, 154, 43);
}

.bottom > p
{
    font-size: 12px;
    font-weight: 400;
}

.bottom > .google
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 18px;
    /* height: 20px; */
    padding: 1rem;
    border: none;
    background-color: white;
    border: 1px solid rgba(191, 190, 188, 1);
    color: rgba(148, 143, 143, 1);
    font-weight: 400;
    font-size: 20px;
}

.bottom > .google > p
{
    font-size: 14px;
    font-weight: 400;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.success {
  color: green;
  font-size: 12px;
  font-weight: 600;
}
