.connectwallet-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e9e7e5;
  justify-content: flex-end;
}

/* Wallet Bottom Sheet */
.wallet-sheet {
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  min-height: 60vh;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.wallet-sheet.visible {
  transform: translateY(0);
}

/* Titles */
.wallet-sheet h2 {
  font-size: 28px;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.wallet-subtext {
  color: #555;
  font-size: 14px;
  margin-bottom: 1.5rem;
}

/* Wallet list */
.wallet-options {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: #e9e7e5;
  padding: 1rem;
  border-radius: 1rem;
}

.wallet-btn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #e9e7e5;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 0.6rem;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.wallet-btn img {
  width: 25px;
  height: 25px;
}

.wallet-btn:hover {
  background-color: #d2cece;
  transform: translateX(5px);
}

.wallet-btn.selected {
  background-color: #d2cece;
  transform: translateX(5px);
}

/* Connect Button */
.connect-btn {
  width: 100%;
  margin-top: 5rem;
  background-color: rgba(247, 148, 29, 1);
  color: white;
  font-weight: 600;
  padding: 1.2rem;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.connect-btn:hover {
  background-color: #e59000;
}
