.reciept
{
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    /* gap: 1rem; */
    justify-content: space-between;
    height: 80vh;
    background-image: url("../../assets/ReceiptBG.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.reciept-header
{
    display: flex;
    justify-content: end;

}

.reciept-header > button
{
    background-color: transparent;
    border: none;
    font-size: 30px;
}

.reciept-body
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    /* background-image: url("../../assets/ReceiptBG.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
}

.reciept-title
{
    display: flex;
}

.reciept-title > h6
{
    display: flex;
    margin: auto;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    gap: 1rem;
    padding-top: 1rem;
}

.reciept-title > h6 > img
{
    width: 2rem;
}

.reciept-def
{
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    gap: 1rem;
    padding-top: 1rem;
}

.reciept-words
{
    display: flex;
    justify-content: space-between;
}

.reciept-words > h5
{
    font-size: 12px;
    font-weight: 400;
    color: rgba(136, 133, 133, 1);
}

.reciept-words > h6
{
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    gap: .5rem;
}

.reciept-footer
{
    display: flex;
    flex-direction: column;
}