.emailcode
{
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    gap: 1.5rem;
}

.header
{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.header > h2
{
    font-weight: 600;
    font-size: 32px;
    padding-bottom: .75rem;
}

.header > p
{
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 1.5rem;
}

.verifycode
{
    display: flex;
    gap: .5rem;
    justify-content: center;
    padding-bottom: 2rem;
}

.verifycode > input
{
    height: 4.2rem;
    width: 3.5rem;
    font-size: 26pt;
    text-align: center;
    background-color: rgba(255, 208, 152, 1);
    border: none;
    color: rgba(247, 148, 29, 1);
    border-radius: 10px;
    outline: none;
}

.header > #p
{
    text-align: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    padding-top: 1.5rem;
}