.login
{
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-header
{
    display: flex;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 4rem;
}

.login-body
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}

.login-body > p
{
    font-size: 12px;
    font-weight: 400;
}

.login-input
{
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    padding-top: 1rem;
    border-width: .2rem;
}