.login
{
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-header
{
    display: flex;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 2rem;
}

.login-body
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.login-body > p
{
    font-size: 12px;
    font-weight: 400;
}

.login-input
{
    display: flex;
    flex-direction: column;
    /* border-top: 1px solid black; */
    padding-top: 1rem;
    border-width: .2rem;
}

.login-footer
{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
}

.google
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    border: .5px solid  rgba(191, 190, 188, 1);
    background-color: transparent;
    border-radius: 20px;
    gap: .5rem;
    color: rgba(148, 143, 143, 1);
    font-size: 14px;
}