:root {
  font-family: "PolySans", "Inter", "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*
{
  margin: 0;
  padding: 0;
}

body {
  font-family: "PolySans", "Inter", "Manrope", sans-serif;
}









